@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --tran: 0.7s ease;
  --primary-color: #ff7070;
  --secondary-color: #9b98ffe7;
  --background-color: #ffffff;
  --text-color: #000000;
}

@keyframes color {
  0% {
    color: #ffbdbd;
  }

  20% {
    color: #b882ff;
  }

  40% {
    color: #ff4f4f;
  }

  60% {
    color: #ff4f4f;
  }

  80% {
    color: #b882ff;
  }

  100% {
    color: #ffbebe;
  }
}

@keyframes bgcolor {
  0% {
    background-color: #ffbdbd;
  }

  20% {
    background-color: #b882ff;
  }

  40% {
    background-color: #50b9ff;
  }

  60% {
    background-color: #50b9ff;
  }

  80% {
    background-color: #d08dff;
  }

  100% {
    background-color: #ffbebe;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unica One', cursive;
  text-transform: capitalize;
  --tran: all 0.5s ease;
  color: dark light;
  text-wrap: balance;
}

.categories {
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 7px;
  position: fixed;
  bottom: 0;
  display: flex;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.categories button {
  border: none;
  background: none;
  font-size: 11px;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--text-color);
}

.categories button.active {
  color: var(--background-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.categories input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-top: 10px;
}

body {
  font-family: 'Unica One', cursive;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
  color: transparent;
}

.header {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  transition: var(--tran);
  box-shadow: 0px 7px 20px 5px rgba(0, 0, 0, 0.1);
  background-repeat: none;
  object-fit: cover;
  flex-direction: row;
}

.header button {
  display: flex;
  font-family: 'Poppins', sans-serif;
  transition: var(--tran);
  padding: 3px;
  outline: transparent;
  border: none;
  background-color: var(--text-color);
  border-radius: 2px;
  color: var(--background-color);
  font-size: 11px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.dropdown {
  display: flex;
  position: absolute;
  top: 69px;
  right: 7px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.dropdown:before {
  content: "";
  position: absolute;
  top: -11px;
  right: 20px;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
}

.dropdown:after {
  content: "";
  position: absolute;
  top: -11px;
  right: 20px;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #f9f9f9 transparent transparent transparent;
}

.profile img {
  padding: 3px;
  aspect-ratio: 1/1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.profile h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  margin: 3px;
  padding: 3px;
}

.header button:hover {
  transition: var(--tran);
  color: var(--text-color);
  background-color: var(--background-color);
  border: 3px;
}

.header:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  transition: var(--tran);
}

.container {
  padding: 7px;
  margin: 5px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.art-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 17px;
  max-width: 70vh;
}

@media only screen and (max-width: 600px) {
  .art-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 17px;
  }
}

.art {
  background-color: var(--background-color);
  position: relative; 
  display: flex;
  width: 100%;
  max-height: fit-content;
  min-height: 100px;
  border-radius: 7px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.111);
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  transition: var(--tran);
}

.art:hover{
  transition: var(--tran);
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.499);
}

.art img {
  display: flex;
  transition: var(--tran);
  min-height: 100px;
  width: 100%;
  height: auto;
  object-fit:cover;
  border-radius: 11px;
  padding: 5px;
}

.button-group {
  position: absolute;
  padding: 3px;
  display: flex; /* Use flexbox */
  align-items: center;
  margin-block: 7px;
  transition: var(--tran);
  width: 100%; /* Set the width to 100% to make it take the full width of .art */
}

.art-details {
  margin-left:10px ;
  text-overflow:inherit;
  text-shadow: 0px 1px 5px var(--text-color);
  background-color: hsla(0, 0%, 0%, 0);
  backdrop-filter: blur(5px);
  flex-grow: 1;
  color: var(--background-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 7px;
  transition: var(--tran);
  box-shadow: 0px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.art-details h3 {
  font-size: 14px;
  margin: 0;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(300deg);
  }
}

.fa-spinner{
  animation: spin 0.6s infinite;
}

.art-details p {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}

.button-group button.liked {
  text-shadow: none;
  border-radius: 200%;
  transition: var(--tran);
  background-color: var(--background-color);
  color: var(--primary-color);
}

.fa-right-to-bracket{
  background-color: var(--background-color);
  color: var(--secondary-color);
  border-radius: 2px;
  padding: 5px;
  margin: 0px 5px 0px 0px;
  font-size: 10px;
}

i{
  border-radius: 2px;
  padding: 5px;
  font-size: 10px;
}

.liked-posts-button{
  border-radius: 3px;
  border: 1px solid;
  background: none;
  font-size: 11px;
  padding: 3px 7px;
  cursor: pointer;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.liked-section{
 text-align: center;
 margin: 3px;
}

.art button {
  transition: var(--tran);
  text-shadow: 0px 1px  5px var(--text-color);
  display: flex;
  margin: 10px;
  padding: 5px;
  background-color: hsla(0, 0%, 0%, 0);
  backdrop-filter: blur(5px);
  color: var(--background-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.3);
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

form {
  display: flex;
  height: fit-content;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  width: 100%;
}

input[type="text"] {
  transition: var(--tran);
  padding: 5px;
  outline: transparent;
  border: transparent;
  font-family: 'Unica One', cursive;
  font-size: 12px;
  text-align: center;
  box-shadow: 0px 7px 20px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 7px;
}

input[type="text"]:focus {
  transition: var(--tran);
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  outline: none;
  box-shadow: 0px 8px 7px 2px rgba(0, 0, 0, 0.1);
}

.toggle {
  margin-bottom: 10px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.toggle:hover {
  font-weight: 900;
  animation: color 15s infinite;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  transition: var(--tran);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

.about-page {
  right: 0;
  bottom: 0;
  text-align: center;
  font-family: 'Unica One', cursive;
  width: 100%;
  color: var(--text-color);
  padding: 1px;
  margin-bottom: 70px;
}

.about-page h5{
  padding: 14px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.about-page h6{
  font-size: 9px;
  font-family: 'Poppins', sans-serif;
}

.about-page p {
  font-size: 10px;
  text-decoration: none;
  padding: 3px;
}

.about-page p a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  animation: color 15s infinite;
}

.about-page p a:hover {
  text-decoration: underline;
  transition: var(--tran);
}